* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: "NSM500";
  src: url("../fonts/NotoSans-Medium 500.ttf");
}
@font-face {
  font-family: "RM500";
  src: url("../fonts/Rubik-Medium 500.ttf");
}
@font-face {
  font-family: "RR400";
  src: url("../fonts/Rubik-Regular 400.ttf");
}
:root {
  --NSM500: "NSM500";
  --RM500: "RM500";
  --RR400: "RR400";
  --dark: white;
  --light: black;
  --seriy: #222531;
  --mainBg: #E5E5E5;
  --card: #F8FAFD;
  --cards: white;
  --cardAuthor: #757881;
  --cardInfo: #0d75ff0d;
  --sideHeader: #F8FAFD;
  --sideText: #58667E;
  --sideAuthor: #0D75FF;
}

.body {
  position: relative;
  overflow-x: hidden;
  background: var(--dark);
}

.login {
  background: url(../images/bg-login.webp) no-repeat center center/cover;
}
.login__content {
  width: 100%;
  background: rgba(0, 0, 0, 0.795);
  height: 100vh;
}
.login__content-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__content-logo {
  margin-bottom: 50px;
}
.login__content-div {
  padding: 0 5px;
  width: 300px;
  height: 45px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.login__content-div > i {
  margin: 0 12px 0 7px;
  color: white;
}
.login__content-div:first-child {
  margin-bottom: 20px;
}
.login__content-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
  height: 43px;
  display: flex;
  align-items: center;
}
.login__content-input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.login__content-btn {
  border: none;
  width: 300px;
  height: 45px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0D75FF;
  transition: 0.3s;
  cursor: pointer;
}
.login__content-btn:hover {
  background: red;
  color: white;
}
.login__content-forgot {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 11px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__top-logo {
  padding: 10px;
  width: 200px;
}
.header__top-searchBox {
  background: #F8FAFD;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 15px 17px;
  width: 670px;
  cursor: default;
}
.header__top-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__top-form > i {
  color: #B8B9BE;
}
.header__top-search {
  margin-left: 15px;
  outline: none;
  border: none;
  background: none;
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgb(0, 0, 0);
  width: 90%;
}
.header__top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header__top-theme {
  cursor: pointer;
  width: 23px;
  height: 23px;
}
.header__top-logout {
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #0D75FF;
  border-radius: 4px;
  width: 99px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.header__top-logout:hover {
  background: red;
}
.header__bottom {
  padding: 10px 0;
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}
.header__bottom-bottomBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-result {
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--seriy);
  cursor: default;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.header__bottom-sort {
  background: #A6B0C3;
  border-radius: 4px;
  padding: 10px 13px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.header__bottom-sort:hover {
  background: rgb(228, 46, 46);
}
.header__bottom-sort > i {
  margin-right: 5px;
}

.pagination {
  display: none;
  position: absolute;
  top: 200px;
  right: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 30px;
}
.pagination__content {
  height: 100%;
  display: flex;
  justify-content: center;
}
.pagination__content-pages {
  margin: 10px 0;
  gap: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.pagination__content-pages::-webkit-scrollbar {
  display: none;
}
.pagination__content-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pagination__content-li {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--RM500);
  font-size: 14px;
  padding: 5px 12px;
  background: #c5acac;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.pagination__content-li:hover {
  background: red;
}
.pagination__prewLi {
  transform: rotate(-90deg);
  margin-bottom: 25px;
  width: 60px;
}
.pagination__nextLi {
  transform: rotate(-90deg);
  margin-top: 25px;
  width: 60px;
}

.main {
  background: var(--mainBg);
}
.main__wrapper {
  display: flex;
  min-height: 100vh;
}
.main__bookmarkBox {
  width: 25%;
  min-height: 100%;
  background: var(--dark);
  position: relative;
}
.main__bookmarkBox-title {
  font-family: var(--RR400);
  text-align: center;
  margin: 5px 0;
  color: var(--light);
}
.main__bookmarkBox-text {
  font-family: var(--RR400);
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  color: var(--light);
}
.main__bookmarkBox-close {
  opacity: 0;
  z-index: -5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: red;
  font-size: 18px;
}
.main__bookmarkBox-close:hover {
  color: blue;
}
.main__bookmark {
  width: 100%;
  min-height: 80%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--dark);
}
.main__bookmark-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card);
  border-radius: 4px;
  padding: 10px 15px;
}
.main__bookmark-title {
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
  cursor: default;
}
.main__bookmark-author {
  font-family: var(--NSM500);
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  cursor: default;
  color: #757881;
}
.main__bookmark-buttons {
  margin-left: 5px;
  display: flex;
  gap: 5px;
}
.main__bookmark-buttons > .main__bookmark-btn {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.main__bookmark-buttons > .main__bookmark-btn:hover {
  color: blue;
}
.main__bookmark-btn {
  background: none;
  border: none;
}
.main__bookmark-btn > .readBookmark {
  color: #75828A;
  margin-right: 5px;
}
.main__bookmark-btn > .deleteBookmark {
  color: #FF6231;
}
.main__content {
  width: 75%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-family: var(--NSM500);
  font-size: 25px;
}
.main__content-teaser {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main__content-teaser-title {
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--light);
  text-align: center;
}
.main__content-teaser-text {
  margin-top: 20px;
  font-family: var(--RR400);
  max-width: 218px;
  font-weight: 400;
  font-size: 14px;
  line-height: 155.6%;
  color: var(--light);
  text-align: center;
}
.main__card {
  width: 250px;
  height: 425px;
  background: var(--cards);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.main__card-imgBox {
  background: #F8FAFD;
  border-radius: 5px;
  padding: 5px;
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 19px;
}
.main__card-img {
  max-width: 100%;
  max-height: 100%;
}
.main__card-title {
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  cursor: default;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.main__card-author {
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: var(--cardAuthor);
  cursor: default;
}
.main__card-year {
  font-family: var(--NSM500);
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  cursor: default;
  margin-bottom: 10px;
}
.main__card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
.main__card-buttons > .cardBookmark {
  background: #FFD80D;
  color: black;
}
.main__card-buttons > .cardInfo {
  color: #0D75FF;
  background: #828183;
}
.main__card-btn {
  padding: 10px 23px;
  font-family: var(--RM500);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: none;
  transition: 0.3s ease-out;
  border-radius: 4px;
}
.main__card-btn:hover {
  background: rgb(88, 218, 241);
}
.main__card-readBtn {
  display: block;
  text-align: center;
  width: 100%;
  background: #75828A;
  border-radius: 4px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background: #75828A;
  border-radius: 4px;
  font-family: var(--NSM500);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main__card-readBtn:hover {
  background: red;
}

.sidebar {
  opacity: 0;
  z-index: -5;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.664);
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar__content {
  position: absolute;
  top: 0;
  right: -100%;
  width: 55%;
  min-height: 100%;
  background: var(--mainBg);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s all;
}
.sidebar__content-header {
  width: 100%;
  padding: 22px 33px;
  background: var(--sideHeader);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__content-title {
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--seriy);
}
.sidebar__content-close {
  color: red;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
}
.sidebar__content-close:hover {
  color: blue;
  transform: rotateZ(90deg);
}
.sidebar__content-info {
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__content-imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sidebar__content-description {
  text-align: justify;
  max-width: 90%;
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 13px;
  line-height: 170.3%;
  color: var(--sideText);
  margin-bottom: 25px;
}
.sidebar__content-authorBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}
.sidebar__content-key {
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--seriy);
  cursor: default;
}
.sidebar__content-value {
  font-family: var(--RR400);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0D75FF;
  background: rgba(13, 117, 255, 0.09);
  border-radius: 30px;
  padding: 6px 20px;
  cursor: default;
}
.sidebar__content-button {
  width: 100%;
  text-align: right;
}
.sidebar__content-btn {
  background: #75828A;
  border-radius: 4px;
  font-family: var(--RM500);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.sidebar__content-btn:hover {
  background: red;
}

.bookmarkOpen {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #504040;
  border: none;
  color: white;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  z-index: 5;
}
.bookmarkOpen:hover {
  background: rgb(173, 26, 26);
}

.sun {
  display: none;
}

.active {
  border: 2px solid yellow;
}

@media (max-width: 1050px) {
  .header__top-searchBox {
    width: 50%;
  }
  .main__bookmarkBox {
    width: 30%;
  }
  .main__content {
    width: 70%;
    justify-content: center;
  }
}
@media (max-width: 880px) {
  .main__bookmarkBox {
    width: 40%;
  }
  .main__content {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .header__top-searchBox {
    width: 30%;
  }
  .header__top-form > i {
    display: none;
  }
}
@media (max-width: 660px) {
  .main____bookmarkBox {
    width: 45%;
  }
  .main__bookmark-book {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__bookmark-title {
    font-size: 12px;
  }
  .main__bookmark-author {
    font-size: 10px;
  }
  .main__content {
    width: 55%;
  }
}
@media (max-width: 600px) {
  .header__bottom-bottomBox {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .main__bookmarkBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .main__bookmarkBox-close {
    opacity: 1;
    z-index: 1;
  }
  .main__content {
    width: 100%;
  }
  .bookmarkOpen {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */